.login-container {
  min-height: 100vh;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  .logo {
    width: 72px;
    height: 72px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1677ff;

    .icon {
      width: 40px;
      height: 40px;
      color: #fff;
    }
  }

  .title {
    margin-top: 16px !important;
    margin-bottom: 0 !important;
    text-align: center;
  }

  .card {
    width: 100%;
    max-width: 420px;
    margin-top: 24px;
  }

  .link {
    float: inline-end;
    margin-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .login-container {
    padding: 12px;

    .title {
      font-size: 28px !important;
    }

    .card {
      max-width: 100%;
    }
  }
}
